h2 {
    padding-top: 10px;
    color: darkred;
}

.sessionTitle {
    font-style: italic;
}

.tagline {
    margin-bottom: 5px;
}

.speakerImage {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 5px;
}

.time {

}
