<app-no-va-nav></app-no-va-nav>

<div class="container">
  <h1>Tracks</h1>
  <div class="row">
    <div *ngFor="let room of rooms" class="col-sm-2 m-2">
      <a [routerLink]="['/tracks/', room.id]" routerLinkActive="active" class="btn btn-primary">
        <i class="fa fa-info"></i>{{room.name.replace('Track', '')}}
      </a>
      <a *ngIf="getPlayUrl(room)" target="_blank" [href]="getPlayUrl(room)" class="btn btn-primary m-2">
        <i class="fa fa-play"></i>
      </a>
    </div>
  </div>

  <h1>Times</h1>
  <div class="row">
    <div class="col-sm-2" *ngFor="let hour of hours">
      <a routerLink="/now-showing/{{hour.getTime()}}"
        class="btn btn-primary btn-block m-2">{{hour | date : 'shortTime'}}</a>
    </div>
  </div>
</div>
